[Unit]
Description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/admin/vpn2
ExecStart=/usr/bin/docker compose -f /home/admin/vpn2/docker-compose.yml up -d --remove-orphans

[Install]
WantedBy=multi-user.target
