[Unit]
Description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/PATH/TO/DIR/netdata
ExecStart=/usr/bin/docker-compose -f /PATH/TO/DIR/netdata/docker-compose.yml up -d --remove-orphans

[Install]
WantedBy=multi-user.target
